.video__data:not(span) {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__hashtags {
    color: rgb(84, 183, 254);
    font-size: 14px;
  }
  .video__info {
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: rgb(107, 107, 107, 0.7);
    color: #aaa;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  .video__info2 {
    padding-bottom: 50px;
    border-bottom: 1px solid;
    border-color: rgb(107, 107, 107, 0.7);
  }
  .video__title {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 17px;
    a {
      color: rgb(95, 233, 49);
      text-decoration: underline;
    }
  }
  .video__description .video__description--content {
    display: block;
    max-width: 666px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 82px;
  }
  .video__description--content {
    &.more {
      white-space: normal;
      line-height: 20px;
    }
  }
  .video__description--moreBtn {
    color: #aaa;
    margin-left: 82px;
    cursor: pointer;
  }
}

.holy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}

.video__comments__input {
  padding-top: 10px;
  font-size: 17px;
  display: inline-block;
  width: 100%;
}

.video__comments {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 50px;
  .video__comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: none;
    color: white;
    margin-bottom: 20px;
  }
}
.video__comment__deleteBtn {
  cursor: pointer;
}
.video__comment-form {
  width: 700px;
}
.video__comment-form__text {
  margin-top: 30px;
  margin-left: 60px;
  max-width: 700px;
  width: 100%;
  overflow-y: hidden;
  resize: none;
  caret-color: white;
  color: white;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(107, 107, 107, 0.7);
}
.video__comment-form__text:focus {
  border-bottom: 2px solid #aaa;
}
.video__comment-form__btn {
  margin-top: 15px;
  margin-left: 700px;
  background-color: #3ea6ff;
  height: 25px;
  width: 60px;
  border: none;
  border-radius: 3px;
}

.video__comment--left a {
  color: rgb(83, 198, 234);
  text-decoration: underline;
  cursor: pointer;
}
.video__comment--left {
  display: block;
}

.video__comment--left--date {
  color: #aaa;
  font-size: 14px;
  margin-left: 5px;
}

.video__comment--spans {
  max-width: 580px;
  text-overflow: ellipsis;
  white-space: normal;
  margin-top: 10px;
}

.video__comment--spans span:not(span:last-child) {
  display: block;
  color: #aaa;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 7px;
}
.video__comment--spans span {
  display: block;
  overflow: hidden;
  max-height: none;
  font-size: 19px;
}

.video__comment--like {
  margin-top: 5px;
}

.video__comment--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin-bottom: 10px;
}

.video__recomendations {
  margin-top: 40px;
  margin-left: 50px;
  width: 600px;
  line-height: 1.2;
  display: inline-block;

  img {
    width: 170px;
    height: 100px;
    border-radius: 5px;
  }
}

.video__recomendations--video {
  margin-bottom: 15px;
  cursor: pointer;
  // img태그 오른쪽에 title을 오게 하고 싶을 때
  img {
    float: left;
    margin-right: 10px;
  }
}

.video__recomendations--video__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}

.video__recomendations--video__title {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  &:hover {
    color: #aaa;
  }
}

.video__recomendations--video__owner,
.video__recomendations--video__views,
.video__recomendations--video__date {
  font-size: 0.7rem;
  font-weight: 400;
  color: #aaa;
}

.video__recomendations--video__owner:hover,
.video__recomendations--video__views:hover,
.video__recomendations--video__date:hover {
  color: white;
}
