header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .header__title {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    width: 100%;
    margin-left: 5px;
  }
  .header__logo {
    color: $red;
    font-size: 25px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 2202; /*다른 요소들보다 앞에 배치*/
    position: fixed;
    box-sizing: border-box;
    left: auto;
    right: auto;
    margin-right: 10px;
    hr {
      border: solid 1px #aaa;
      opacity: 0.7;
    }
  }

  .dropdown-content a {
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .header__btn {
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 16px;
  }
}

.dropdown {
  padding-left: 30px;
  padding-right: 30px;
}
