header
    div
        a(href="/").header__logo
            i.fab.fa-youtube
        a(href="/").header__title HanTube

    div.menu
        form(action="/search").search__form
            input(placeholder="검색", name="keyword", type="text")
            button
                i.fas.fa-search
        div.dropdown
            if loggedIn
                span.dropbtn
                    if loggedInUser.avatarUrl
                        img.header__avatar(src=loggedInUser.avatarUrl crossorigin)
                    else
                        i.fas.fa-user-circle
                            
                div.dropdown-content
                        a(href="/videos/upload") Upload Video
                        hr
                        a(href=`/users/${loggedInUser._id}`) My Profile
                        hr
                        a(href="/users/edit") Edit Profile
                        hr
                        a(href="/users/logout")  Log Out
            else
                a(href="/login").header__btn Login
                a(href="/join").header__btn Join
hr
block scripts 
    script(src="/static/js/header.js")