header
    div
        a(href="/").header__logo
            i.fab.fa-youtube
        a(href="/").header__title HanTube

    div.menu
        a(href="/search")
            i.fas.fa-search
        div.dropdown
            if loggedIn
                span.dropbtn
                    if loggedInUser.avatarUrl === ""
                        span 😀
                    else
                        if loggedInUser.avatarUrl
                            img.header__avatar(src=loggedInUser.avatarUrl crossorigin)
                div.dropdown-content
                        a(href="/videos/upload") Upload Video
                        hr
                        a(href=`/users/${loggedInUser._id}`) My Profile
                        hr
                        a(href="/users/edit") Edit Profile
                        hr
                        a(href="/users/logout")  Log Out
            else
                a(href="/login").header__btn Login
                a(href="/join").header__btn Join

block scripts 
    script(src="/static/js/header.js")